<div class="S_helpPage">
  <h2>Изменить данные</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="W_loginForms">

      <div class="field M_form">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field M_form">
        <%= f.label :Пароль %><br />
        <%= f.password_field :password, autocomplete: "new-password" %>
        <% if @minimum_password_length %>
          <br />
          <em><%= @minimum_password_length %> знаков минимум</em>
        <% end %>
      </div>

      <div class="field M_form">
        <%= f.label :Подтверждение_пароля %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <div class="field M_form">
        <%= f.label :Текущий_пароль %> <br />
        <%= f.password_field :current_password, autocomplete: "current-password" %>
      </div>

      <div class="actions M_hugeButton">
        <%= f.submit "Обновить данные" %>
      </div>
    <% end %>
  </div>

  <h3>Удаление аккаунта</h3>

  <a>

  <div><%= button_to "Удалить аккаунт", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %></div>

  <%= link_to "<- Назад", :back %>

  </a>
</div>