<%= form_with(model: [@post, comment]) do |form| %>
  <% if comment.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
        <% comment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<% if current_user %>

<% if defined? parent_comment_id %>
<%= form.hidden_field :comment_id, value: parent_comment_id %>
<% end %>


  <%= form_for([@post, @post.comments.build]) do |form| %>
    <div class="M_commentForm">
      <%# # form.label :text, style: "display: block"  %>
      <%= form.text_area :text %>
    </div>  

    <button class="A_addButton">
      <p class="p1"><%= form.submit %></p>
    </button>
  <% end %>

<% end %>
<% end %>