<div id="<%= dom_id startup %>" class="post">
  <h2 class="post_title">
    <%= link_to startup.name, startup_path(startup) %>
  </h2>

  <h4 class="author">
    Автор
      <%= startup.user.email %><br>

  </h4>
    
  <p class="p5 tags">
    <% startup.tags.each do |tag| %>
      <%= link_to tag.name, tagged_startups_path(tag.name) %>
    <% end %>
  </p>

  <p class="description">
    <%= startup.description %>
  </p>

</div>
