<div id="<%= dom_id startup %>" class="post">
  <h2 class="post_title">
    <%= link_to startup.name, startup_path(startup) %>
  </h2>

  <h4 class="author">
    Автор
    <% startup.users.each do |user| %>
      <%= user.email %><br>
    <% end %>

    <% if startup.users.empty? %>
      Пользователей, связанных с этим стартапом, нет.
    <% end %>

  </h4>
    
  <p class="tags">
    <%= startup.tags %>
  </p>

  <p class="description">
    <%= startup.description %>
  </p>

</div>
