<div id="<%= dom_id startup %>" class="post">
  <h2 class="post_title">
    <%= link_to startup.name, startup_path(startup) %>
  </h2>

  <h4 class="author">
    Автор
    <%= startup.user.email %>
  </h4>
    
  <p class="tags">
    <%= startup.tags %>
  </p>

  <p class="description">
    <%= startup.description %>
  </p>

</div>
