<% title "Стартапы" %>


<div class="S_startupsPage">
    <p style="color: green"><%= notice %></p>
    <p class="p2" style="color: green"><%= notice %></p>

    <% if can? :create, Startup %>
    <%# if current_user && current_user.admin?%>
    <%# if can? :create, Startup %>
    <%# <button class="A_addButton"><%= link_to "New startup", new_startup_path %>
    <% end %>

    <div class="S_startups">


        <div id="C_startups">
        
            <%= render collection: @startups, partial: "startups/startup" %>

        </div>
    </div>
</div>

<%= render "sidebar_startup_filter" %>
