<p style="color: green"><%= notice %></p>

<%= render @startup %>

<div class="buttons_collection">

<% if can? :edit, @project %>
  <%= link_to "Edit this startup", edit_admin_startup_path(@startup) %>
  <%= link_to "Back to startups", startups_url %>
  <%= button_to "Destroy this startup", admin_startup_path(@startup), method: :delete %>
<% end %>
</div>
