
<div class="S_postContainer"> 
<%# <p style="color: green"><%= notice %>

  <%= render @startup %>
  <div id="C_posts">

  <div class="C_postManage">

       <% if can? :manage, @startup %>
            <p class="p5"><%= link_to "Редактировать этот стартап", edit_startup_path(@startup) %></p>
            <p class="p5 button_destroy"><%= button_to "Удалить этот стартап", startup_path(@startup), method: :delete %></p>
       <% end %>

       <p class="p5"><%= link_to "Вернуться к стартапам", startups_url %></p>


  </div>

  <p class="p4 white">Посты</p>


        <%= render collection: @posts, partial: "posts/post", locals: { startup: @startup }  %>
    </div>
  </div>
<%= render "sidebar" %>
</div>

