<p style="color: green"><%= notice %></p>

<%= render @message %>

<div>
  <%= link_to "Edit this message", edit_admin_message_path(@message) %> |
  <%= link_to "Back to messages", admin_messages_path %>

  <%= button_to "Destroy this message", edit_admin_message_path(@message), method: :delete %>
</div>
