<div class="S_helpPage">
  <h2>Forgot your password?</h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field M_form">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="actions M_hugeButton">
      <%= f.submit "Send me reset password instructions" %>
    </div>
  <% end %>

    <div class="W_redirectLink">
      <p class="p5">
        <%= render "devise/shared/links" %>
      </p>
    </div>
</div>