<div id="<%= dom_id tag %>">
  <p>
    <strong>Name:</strong>
    <%= tag.name %>
  </p>

  <p>
    <strong>Tag type:</strong>
    <%= tag.tag_type_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= tag.user_id %>
  </p>

  <p>
    <strong>Startup:</strong>
    <%= tag.startup_id %>
  </p>

  <p>
    <strong>Post:</strong>
    <%= tag.post_id %>
  </p>

</div>
