<div class="S_loginContainer">

  <div class="W_backImages">
    <%= image_tag "imageleft.png", class: "A_imageleft" %>
    <%= image_tag "imageright.png", class: "A_imageright" %>
  </div>

  <div class="W_loginForms">

    <h2 id="loginHeader">С возвращением, <br> дорогой стартапер!</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field M_form">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field M_form">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field M_form">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="actions M_hugeButton">
        <%= f.submit "Войти" %>
      </div>
    <% end %>

    <div class="W_redirectLink">
      <p class="p5">
        <%= render "devise/shared/links" %>
      </p>
    </div>
  </div>



</div>