<% if current_user && current_user.admin?
  post_model = [:admin, post]
elsif can? :edit, post
  post_model = post
end %>

<%= form_with(model: [:admin, post]) do |form| %>
<%#= form_with(model: post) do |form| %>
<% if post.errors.any? %>
<div style="color: red">
    <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

    <ul>
        <% post.errors.each do |error| %>
        <li><%= error.full_message %></li>
        <% end %>
    </ul>
</div>
<% end %>

<!-- Скрытое поле для startup_id -->
<%#= form.hidden_field :startup_id, value: @startup.id %>

<div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
</div>

<div>
    <%= form.label :text, style: "display: block" %>
    <%= form.text_field :text %>
</div>

<div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description %>
</div>

<div>
    <%= form.label :likes, style: "display: block" %>
    <%= form.number_field :likes %>
</div>

<div>
    <label for="">Tags</label>
    <%= form.text_area :tag_list %>
</div>

<div>
    <label for="">Categories</label>
    <%= form.text_area :category_list %>
</div>

<%= form.collection_select :startup_id, current_user.startups.order(:name), :id, :name, include_blank: false %>


<div>
    <button class="actions"><%= form.submit %></button>
</div>
<% end %>