<div id="<%= dom_id post %>" class="post">
    <div class="W_postHeader">
        <div class="M_stract">
            <%= image_tag post.user.profile.avatar.url, class: 'avatar'  %>
            <div class="M_startapDesk">
               <p class="p4"><%= post.user.email %></p>
               <p class="p5 caption">автор поста</p>
            </div>
        </div>
    </div>
    <h4 class="post_title">
        <%= link_to post.title, post_path(post) %>
    </h3>
    <p class="p5"><%= post.text %></p>
    <p class="p5 tags">
      <% post.tags.each do |tag| %>
      <%= link_to tag.name, tagged_posts_path(tag.name) %>
      <% end %>
    </p>
      <% post.categories.each do |category| %> 
            <%= link_to category.name, tagged_posts_path(category.name), class: "p5 tags" %> 
      <% end %> 
    
    <%= image_tag post.cover.url, class: 'post_cover'  %>


    <div class="W_interactive">
        <div class="comments"><p class="p1"><%= post.comments.size %></p></div>
        <p class="p6 time"><%= post.created_at %></p>
        <p class="p6 time">
            <%= post.created_at.strftime('%e %B %Y %H:%M') %>
            </p>
        
    </div>
</div>