<div id="<%= dom_id post %>" class="S_post">
  <div class="O_post">
    <div class="W_postInfo">
      <%= render "posts/post_header", post: post, user: post.user %>

      <div class="W_postTitleInfo">
        <h5><%= link_to post.title, post_path(post) %></h5>

        <div class="ะก_tagsAndCollection">

          <div class="W_categories">
            <% post.categories.each do |category| %> 
              <%= link_to(tagged_posts_path(category.name)) do %>
                <p class="p3 A_tag opinion selected"><%= category.name %></p>
              <% end %> 
            <% end %> 

            <% post.tags.each do |tag| %>
              <p class="p3 A_tag"><%= link_to tag.name, tagged_posts_path(tag.name) %></p>
            <% end %>
          </div>

        </div>

      </div>

      <p class="p2"><%= post.text.html_safe  %></p>

      <% if post.cover.url %> 
          <%= image_tag post.cover.url, class: 'A_imageCover'  %>
      <% end %>

      <% if current_user.present? %>

        <div class="W_interactive">
          <div class="M_actionButton upvote">
            <%= render partial: "upvote/button", locals: { likeable: post, dislikeable: post } %>
          </div>
  
          <%= link_to(post_path(post)) do %>
            <div class="M_actionButton action">   
              <div class="A_buttonsContent">
                <%= image_tag "button_icons/comment_default.svg", class: "A_iconPost" %>
              </div>
              <p class="A_buttonsContent p1"><%= post.comments.size %></p>
            </div>
          <% end %>
        </div>

      <% end %>
    </div>
  </div>
</div>