<p style="color: green"><%= notice %></p>

<br>

<%= render @post %>

<br>

<div class="buttons_collection">

<% if can? :manage, @post %>
     <%= link_to "Edit this post", edit_post_path(@post) %>
     <%= button_to "Destroy this post", post_path(@post), method: :delete %>
<% end %>

</div>

<br>

<h3>
Комментарии
</h3>

<% if current_user %>

  <%= form_for([@post, @post.comments.build]) do |form| %>
    <div class="text_field">
      <%# # form.label :text, style: "display: block"  %>
      <%= form.text_area :text %>
    </div>  

    <button class="comment_button">
      <p class="p2"><%= form.submit %></p>
    </button>
  <% end %>

<% end %>

<div class="comments_list">
  <% @post.comments.each do |comment| %>
    <div>
      <%= render "posts/comment", comment: comment %>
    </div>
  <% end %>
</div>

<%= link_to "Back to posts", index_url %>
  