<nav class="S_MenuBar">
  <div>
    <p class="p2"><%= link_to "Главная", root_url %></p>
      <%#= link_to "Форум full access", admin_posts_url %>
      <%#= link_to "Песочница full access", admin_startups_url %>

    <%# else %>
    <p class="p2"><%= link_to "Форум", index_url %></p>
    <p class="p2"><%= link_to "Песочница", startups_url %></p>
    <p class="p2"><%= link_to "Мессенджер", admin_chats_url %></p>
    <% if user_signed_in? && current_user.admin?%>
      <p class="p2"><%= link_to "Подписки", admin_subscriptions_url %></p>
    <% end %>
  </div>
  <div>
  <% if user_signed_in? %>
    <p class="p2"><%= link_to current_user.email, edit_user_registration_path %></p>
    <p class="p2"><%= link_to "Выйти", destroy_user_session_path, data: { "turbo-method": :delete } %></p>
  <% else %>
    <p class="p2"><%= link_to "Log in", new_user_session_path %></p>
    <p class="p2"><%= link_to "Register", new_user_registration_path %></p>
  <% end %>
  </div>

</nav>
