<div class="S_MenuBarMobileClosed">  
  <%= link_to(index_url) do %>
    <%= image_tag "huge_logo.svg", class: "A_hugeLogo" %> 
  <% end %>
  <p class="p4 M_menuOpen">Меню</p>

  
<div class="S_MenuBarMobile">

  <div class="C_menuPoints">

      <%#= link_to "Форум full access", admin_posts_url %>
      <%#= link_to "Песочница full access", admin_startups_url %>

    <%# else %>
    <p class="p6"><%= link_to "Форум", index_url %></p>
    <p class="p6"><%= link_to "Песочница", startups_url %></p>
    <% if user_signed_in? %>
      <p class="p6"><%= link_to current_user.email, my_profile_url %></p>
      <p class="p6"><%= link_to "Выйти", destroy_user_session_path, data: { "turbo-method": :delete } %></p>
    <% else %>
      <p class="p6"><%= link_to "Войти", new_user_session_path %></p>
      <p class="p6"><%= link_to "Зарегистрироваться", new_user_registration_path %></p>
    <% end %>

    <% if can? :create, Post %>
      <%# if current_user && current_user.admin?%>
      <%# if can? :create, Post %>
      <%# <button class="A_addButton"><%= link_to "New post", new_post_path %>
      <%= link_to(new_post_path) do %>
        <button class="A_newPost">
          <%= image_tag "new-post-button.svg" %>
        </button>
      <% end %>
      <%= link_to(new_startup_path) do %>
        <button class="A_newPost">
          <%= image_tag "new-startup-button.svg" %>
        </button>
      <% end %>
    <% end %>
  </div>
</div>

</div>  
