  <div class="S_sideBar">

    <div class="C_menuLog">
        <% if user_signed_in? %>
          <p class="p6"><%= link_to current_user.email, my_profile_url %></p>
          <p class="p6"><%= link_to "Выйти", destroy_user_session_path, data: { "turbo-method": :delete } %></p>
        <% else %>
        <p class="p6"><%= link_to "Войти", new_user_session_path %></p>
        <p class="p6"><%= link_to "Зарегистрироваться", new_user_registration_path %></p>
        <% end %>
  </div>
    <div class="O_filter">
        <div class="W_favTags">
            <div class="W_categories">
                <% Post.tag_counts_on(:tags).each do |tag| %>
                <p class="p8 A_tag"><%= link_to tag.name, tagged_posts_path(tag.name) %></p>
                <% end %>
            </div>
        </div>
        <div class="W_favTags">
            <div class="W_categories">
                <% Post.tag_counts_on(:categories).each do |category| %>
                <p class="p8 A_tag opinion"><%= link_to category.name, tagged_posts_path(category.name) %></p>
                <% end %>
            </div>
        </div>
    </div>
</div>