<div id="<%= dom_id profile %>">
  <p>
    <strong>User:</strong>
    <%= profile.user_id %>
    <%= profile.user.email %>
  </p>
  <% if profile.avatar%> 
    <p>
      <strong>Avatar:</strong>
      <%= profile.avatar %>
    </p>
  <% end %>

  <p>
    <strong>Trust points:</strong>
    <%= profile.trust_points %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= profile.name %>
  </p>

  <p>
    <strong>Surname:</strong>
    <%= profile.surname %>
  </p>

  <p>
    <strong>Descrtiption:</strong>
    <%= profile.description %>
  </p>

  <p>
    <strong>Birthday:</strong>
    <%= profile.birthday %>
  </p>

</div>
