<!DOCTYPE html>
<html lang="ru">
  <head>
    <%= display_meta_tags site: "Startap", reverse: true %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="app_body">
    <%# <p style="color: red"><%= alert %>
    <div class="S_mainContainer">
      <%# <%= Rails.application.credentials.devise_jwt_secret_key %>
      <%= render "menubar" %>
      
      <%#= render "devise/shared/links" %>
      <%= yield %>

      <%= render "sidebar" %>

    </div>
    <%= render "footer" %>
  </body>
</html>
