<!DOCTYPE html>
<html lang="ru">
  <head>
    <%= display_meta_tags site: "Startap", reverse: true %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <p style="color: red"><%= alert %></p>
    <%= render "menubar" %>
    <%= api_v1_posts_url %>
    <%#= render "devise/shared/links" %>
    <%= yield %>
    <%= render "footer" %>
  </body>
</html>
