<!DOCTYPE html>
<html lang="ru">
  <head>
    <%= display_meta_tags site: "Startap", reverse: true %>
    <%= favicon_link_tag 'icon.svg' %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="posts_body">
      <%# <%= session.to_json %> 
      <%# <%= cookies.to_json %> 

    <%= render "mobile_menubar" %>
      <%# <p style="color: red"><%= alert %>
    <div class="S_mainContainer">

      <%= render "menubar" %>

      <%= yield %>

      
    </div>
    <%= render "footer" %>
  </body>
</html>
